@theme {
  --color-primary: #145efc;
  --color-secondary: #1415fc;

  --color-white: #fff;
  --color-black: #000;

  --font-pretendard: "Pretendard", "sans-serif";

  --text-title-1: 1.5rem; /* 24px */
  --text-title-2: 1rem; /* 24px */
  --text-body: 1rem; /* 16px */
  --text-caption: 0.875rem; /* 14px */

  --radius-lg: 5px;
}
