@font-face {
  font-family: "Ownglyph_corncorn-Rg";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2412-1@1.0/Ownglyph_corncorn-Rg.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --color-primary: #0088ff;
  --color-secondary: #004ddd;

  --color-white: #fff;
  --color-black: #000;

  --font-corn: "Ownglyph_corncorn-Rg", "sans-serif";

  --text-title-1: 1.8rem;
  --text-title-2: 1rem;
  --text-body: 0.7rem;
  --text-caption: 0.875rem;
}
