@theme {
  --color-primary: #0088ff;
  --color-secondary: #002fff;

  --color-white: #fff;
  --color-black: #000;

  --font-pretendard: "Pretendard", "sans-serif";

  --text-title-1: 1.5rem; /* 24px */
  --text-title-2: 1rem; /* 24px */
  --text-body: 0.7rem; /* 16px */
  --text-caption: 0.875rem; /* 14px */
}
